@import '@radix-ui/colors/blackA.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/violet.css';
@import '@radix-ui/colors/green.css';


.ProseMirror {
  height: 90vh;
  margin: 10px auto;
  padding: 0px 1rem 0px 1em;
  overflow-y: scroll;
}

.ProseMirror:focus {
  outline: none;
}

/* reset */
a,
button {
  all: unset;
}

.ToolbarRoot {
  display: flex;
  border-bottom: #616161;
  align-items: center;
}

.ToolbarToggleItem,
.ToolbarLink,
.ToolbarButton,
.is-active {
  flex: 0 0 auto;
  color: var(--mauve11);
  height: 25px;
  padding: 0 5px;
  border-radius: 4px;
  display: inline-flex;
  font-size: 13px;
  line-height: 1;
  align-items: center;
  justify-content: center;
}
.ToolbarToggleItem:hover,
.ToolbarLink:hover,
.ToolbarButton:hover {
  background-color: var(--violet3);
  color: var(--violet11);
}
.ToolbarToggleItem:focus,
.ToolbarLink:focus,
.ToolbarButton:focus,
.is-active
 {
  position: relative;
  box-shadow: 0 0 0 2px var(--violet7);
}

.ToolbarToggleItem {
  background-color: white;
  margin-left: 2px;
}
.ToolbarToggleItem:first-child {
  margin-left: 0;
}
.ToolbarToggleItem[data-state='on'],
.is-active {
  background-color: var(--violet5);
  color: var(--violet11);
}

.ToolbarSeparator {
  width: 1px;
  background-color: var(--mauve6);
  margin: 0 10px;
  height: 2rem;
}

.ToolbarLink {
  background-color: transparent;
  color: var(--mauve11);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.ToolbarLink:hover {
  background-color: transparent;
  cursor: pointer;
}

.ToolbarButton {
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  background-color: var(--violet9);
}
.ToolbarButton:hover {
  background-color: var(--violet10);
}

.ProseMirror > * + * {
    margin-top: 0.75em;
  }

.ProseMirror pre {
  background: #0d0d0d;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

.ProseMirror code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}

.hljs-comment,
.hljs-quote {
  color: #616161;
}

.hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-link,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #f98181;
}

.hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
  color: #fbbc88;
}

.hljs-string,
.hljs-symbol,
.hljs-bullet {
  color: #b9f18d;
}

.hljs-title,
.hljs-section {
  color: #faf594;
}

.hljs-keyword,
.hljs-selector-tag {
  color: #70cff8;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: 700;
}

.wordCount {
color: var(--violet7)
}